:root {
    --c1: #F2DC5D;
    --c2: #F2A359;
    --c3: #DB9065;
    --c4: #A4031F;
    --c5: #240B36;
    --fonts: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --nav-height: 3rem;
}

#new_post_title, #new_post_body, #username, #password {
    border: 2px solid var(--c2);
    background-color: var(--c5);
    padding: 8px;
    margin: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--c2);
    border-radius: 1rem;
    outline: none;
    width: 35rem;
    transition: all 0.25s;
    font-family: var(--fonts);
}

#new_post_title:focus, #new_post_body:focus, #username:focus, #password:focus {
    border: 4px solid var(--c1);
    padding: 6px;
}

#new_post_title {
    height: 2.5rem;
}

#new_post_body {
    height: 20rem;
    resize: none;
}

#new_post_form, #login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translate(0, calc(var(--nav-height) * -1));
    position: absolute;
    z-index: 0;
}

#new_post_header, #login_header {
    color: var(--c2);
    margin: 0.5rem 1rem;
    text-align: center;
}

#new_post_button, #login_button {
    background-color: var(--c2);
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    height: 2.5rem;
    width: 10rem;
    color: var(--c5);
    transition: all 0.25s;
    margin: 0.5rem 1rem;
}

#new_post_button:hover, #login_button:hover {
    cursor: pointer;
    background-color: var(--c1);
}

#new_post_button:disabled {
    background-color: lightslategray;
    color: darkslategray;
}

#new_post_button:disabled:hover {
    cursor: not-allowed;
}

.post_title, .post_body {
    color: var(--c4);
    margin: 0 0 0.5rem;
}

.post_body {
    white-space: pre-line;
}

.post {
    background-color: var(--c3);
    margin: 1rem auto;
    width: 35rem;
    padding: 1rem;
    border-radius: 1rem;
}

input[type=submit].delete_post {
    background-color: var(--c4);
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    height: 2.5rem;
    width: 10rem;
    color: var(--c3);
    transition: all 0.25s;
}

.delete_post:hover {
    background-color: var(--c5);
    cursor: pointer;
}

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#new_nav {
    position: relative;
    z-index: 1;
}

nav > a, nav > form {
    color: var(--c3);
    text-decoration: none;
    transition: all 0.25s;
    margin: 1rem;
    height: 20px;
}

nav > a:hover, nav > form:hover {
    color: var(--c1);
    cursor: pointer;
}

.no_posts {
    color: lightslategray;
    width: 100%;
    text-align: center;
}

input[type=text], input[type=button], input[type=submit] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.icon {
    width: 20px;
    height: 20px;
}

html, body {
    background-color: var(--c5);
    margin: 0;
    height: 100%;
    font-family: var(--fonts);
}

body {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

@media screen and (max-width: 37rem) {
    #new_post_title, #new_post_body, .post, #username, #password {
        width: calc(35 / 37 * 100%);
    }
}

@media screen and (max-height: 40rem) {
    #new_post_body {
        height: 10rem;
    }
}