{% extends "skeleton_main.html" %}
{% block title %}About{% endblock %}
{% block content %}
	<main>
		<div id="about_wrapper">
			<h1 class="page_title">About</h1>
			<br />
			<p class="page_content">
				Hey! I'm Adam. I'm a computer science student from Chicago!
				🙌 This website exists to showcase some of my front-end web
				development skills. 🤓💻 If you want to contact me, you've
				come to the right place. Here's some of my links 👇
			</p>
			<ul id="contact_links_ul">
				<li class="contact_item">
					<a
						title="My Email"
						href="mailto:asgunn@umich.edu"
						target="_blank"
						rel="noopener noreferrer"
						class="contact_link"
					>
						Email
					</a>
				</li>
				<li class="contact_item">
					<a
						title="My GitHub"
						href="https://github.com/adamgunn"
						target="_blank"
						rel="noopener noreferrer"
						class="contact_link"
					>
						GitHub
					</a>
				</li>
				<li class="contact_item">
					<a
						title="My LinkedIn"
						href="https://linkedin.com/in/a-gunn/"
						target="_blank"
						rel="noopener noreferrer"
						class="contact_link"
					>
						LinkedIn
					</a>
				</li>
			</ul>
		</div>
	</main>
{% endblock %}