{% extends "skeleton_main.html" %}
{% block title %}Design{% endblock %}
{% block content %}
	<main>
		<div id="portfolio_header">
			<h1 class="page_title">Design</h1>
			<p class="page_content caption">
				Here's some of my graphic design work done in Adobe
				Illustrator &amp; Photoshop. Enjoy! :)
			</p>
		</div>
		<div id="portfolio_wrapper">
			<ul id="portfolio_grid"></ul>
			<div id="portfolio_display_overlay">
				<svg
					id="x_button"
					width="30"
					height="30"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 91.61 91.61"
				>
					<defs>
						<style>
							.cls-1 {
								fill: #fff;
								stroke: #fff;
								stroke-miterlimit: 10;
								stroke-width: 15px;
							}
						</style>
					</defs>
					<line
						class="cls-1"
						x1="5.3"
						y1="5.3"
						x2="86.3"
						y2="86.3"
					/>
					<line
						class="cls-1"
						x1="86.3"
						y1="5.3"
						x2="5.3"
						y2="86.3"
					/>
				</svg>
				<div id="portfolio_display_wrapper">
					<img
						id="portfolio_display"
						src="{{url_for('static', filename='images/typology.jpg')}}"
					/>
				</div>
				<p id="portfolio_display_description">
					There was an error loading the descriptiom.
				</p>
			</div>
		</div>
	</main>
{% endblock %}
