{% extends "skeleton_admin.html" %}
{% block title %}Login{% endblock %}
{% block rest_of_nav %}{% endblock %}
{% block content %}	
	<form action="/api/login/" method="post" id="login_form">
		<h1 id="login_header">Log in</h1>
		<input
			type="text"
			placeholder="Username"
			id="username"
			name="username"
			required
		/>
		<input
			type="password"
			placeholder="Password"
			id="password"
			name="password"
			required
		/>
		<input type="submit" value="Submit" id="login_button" />
	</form>
{% endblock %}
