<!DOCTYPE html>
<html lang="en-us" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}{% block pipe %} | {% endblock %}Adam Gunn</title>
		<meta name="description" content="Welcome to Adam Gunn's website." />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/static/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/static/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/static/favicon-16x16.png"
		/>
		<link rel="manifest" href="/static/site.webmanifest" />
		<link
			rel="mask-icon"
			href="/static/safari-pinned-tab.svg"
			color="#5bbad5"
		/>
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<meta name="msapplication-TileColor" content="#00aba9" />
		<meta name="msapplication-config" content="/static/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />
		<link rel="stylesheet" href="https://use.typekit.net/uvg2mwq.css" />
		<link
			href="{{url_for('static', filename='home.css')}}"
			rel="stylesheet"
		/>
		<script src="{{url_for('static', filename='theme.js')}}"></script>
		{% block extrascript %}{% endblock %}
	</head>
	<body>
		<header id="header">
			<ul id="header_ul_left" class="header_ul">
				<li class="header_item">
					<a class="header_link" href="/">
						<img src="/static/images/magazine/letters/A1.png" id="header_image" alt="Home" />
					</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/about">About</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/blog">Blog</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/design">Design</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/resume">Resum&eacute;</a>
				</li>
			</ul>
			<ul id="header_ul_right" class="header_ul">
				<li class="header_item dropdown_title">
					Games
					<ul class="dropdown_ul">
						<li class="dropdown_item">
							<a class="dropdown_link" href="/pong">Pong</a>
						</li>
						<li class="dropdown_item">
							<a class="dropdown_link" href="/snowman">Snowman</a>
						</li>
					</ul>
				</li>
				<li class="header_item dropdown_title">
					Choose Theme
					<ul class="dropdown_ul">
						<li class="dropdown_item default">
							Default
						</li>
						<li class="dropdown_item dark">
							Dark
						</li>
						<li class="dropdown_item darker">
							Darker
						</li>
						<li class="dropdown_item earthy">
							Earthy
						</li>
						<li class="dropdown_item random">
							Random
						</li>
					</ul>
				</li>
			</ul>
		</header>
		<header id="mobile_header">
			<svg xmlns="http://www.w3.org/2000/svg" id="mobile_header_icon" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
			</svg>
		</header>
		<div id="mobile_links_wrapper">
			<svg xmlns="http://www.w3.org/2000/svg" id="mobile_exit_button" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
				<path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" id="mobile_back_button" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
			<ul class="mobile_links_ul" id="mobile_main">
				<li class="header_item">
					<a class="header_link" href="/">Home</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/about">About</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/blog">Blog</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/design">Design</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/resume">Resum&eacute;</a>
				</li>
				<li class="header_item dropdown_title" id="games_button">
					Games
				</li>
				<li class="header_item dropdown_title" id="themes_button">
					Choose Theme
				</li>
			</ul>
			<ul class="mobile_links_ul" id="mobile_games">
				<li class="header_item">
					<a class="header_link" href="/pong">Pong</a>
				</li>
				<li class="header_item">
					<a class="header_link" href="/snowman">Snowman</a>
				</li>
			</ul>
			<ul class="mobile_links_ul" id="mobile_themes">
				<li class="header_item header_link default">
					Default
				</li>
				<li class="header_item header_link dark">
					Dark
				</li>
				<li class="header_item header_link darker">
					Darker
				</li>
				<li class="header_item header_link earthy">
					Earthy
				</li>
				<li class="header_item header_link random">
					Random
				</li>
			</ul>
		</div>
		{% block content %}{% endblock %}
		<script src="{{url_for('static', filename='home.js')}}"></script>
	</body>
</html>
