{% extends "skeleton_main.html" %}
{% block title %}Snowman{% endblock %}
{% block content %}
    <div id="pong_wrapper">
        <h1 class="page_title">
            Snowman
        </h1>
        <div class="snowman">
            <ul>
                <li>
                    <label for="num_players" class="subtitle">How many players? (1 or 2)</label>
                    <br>
                    <input type="number" id="num_players" name="num_players" required min=1 max=2 value=1 onchange=(checkNumPlayers()) />
                </li>
                <li>
                    <label for="losing_letters" class="subtitle">How many wrong guesses will be allowed? (3-10)</label>
                    <br>
                    <input type="number" id="losing_letters" name="losing_letters" required min=3 max=10 value=3 />
                </li>
                <li>
                    <label for="p0_name" class="subtitle">Player 1 Name (Guesses)</label>
                    <br>
                    <input type="text" id="p0_name" name="p0_name" required placeholder="Adam G." onchange=(verifyNames()) />
                </li>
                <li>
                    <div class="p1_input"></div>
                </li>
                <li>
                    <button class="submit_button" id="submit_players" type="submit" disabled onclick=(playSnowman())>Play</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="{{url_for('static', filename='snowman.js')}}"></script>
{% endblock %}